.haeder-logo img{
    width: 220px;
    background-color: rgba(108, 142, 143, 0.356);
}
button{
    background-color: rgba(13, 112, 54, 0.801);
    border-radius:20px;
}
.footer{
    background-color: black;
}
.card{
    border: none;
}
